@import "styles.scss";

header {
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 20;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: $primary-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  z-index: 10;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: $font-weight-extra-bold;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: $font-weight-bold;
}

h3,
.h3 {
  font-size: 1.75rem;
  font-weight: $font-weight-bold;
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

a {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.row {
  justify-content: center;
}

.col,
.col-3,
.col-6,
.col-9,
.col-12,
.col-auto {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.p-card {
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-family: $font-type-base, sans-serif;
  border: 0;
  border-radius: 0.2857rem;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
  // box-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, 0.05);
}

.p-card-title, .p-card-content {
  font-weight: 100;
}

.p-card-title {
  color: #1d253b;
  line-height: 1.45em;
  font-size: 1.0625rem;
  
}

.p-card-content {
  font-size: 0.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: $font-weight-light;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
}

.footer-content p {
  font-size: 0.8rem;
  margin: 0 10px;
  padding: 2px 0;
}
