@import "styles.scss";

header {
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 20;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

footer {
  width: 100%;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  z-index: 10;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: $font-weight-extra-bold;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: $font-weight-bold;
}

h3,
.h3 {
  font-size: 1.75rem;
  font-weight: $font-weight-bold;
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

a {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.pi {
  font-size: 0.8rem;
}

.row {
  justify-content: center;
}

.col,
.col-3,
.col-6,
.col-9,
.col-12,
.col-auto {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.p-card {
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-family: $font-type-base, sans-serif;
  border: 0;
  border-radius: 0.2857rem;
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  // box-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, 0.05);
}

.p-card .p-card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-card,
.p-card-title,
.p-card-content {
  font-weight: 100;
}

.p-card-title {
  color: rgba(34, 42, 66, 0.7);
  font-size: 15px;
}

.p-card .p-card-content {
  padding: 0 0;
}

.p-datatable .p-datatable-thead > tr > th {
  font-family: $font-type-base, sans-serif;
  font-size: 12px;
  font-weight: $font-weight-extra-bold;
  text-align: left;
  padding: 0.75rem 1rem;
  border: 1px solid #e2e8f0;
  border-width: 0 0 1px 0;
  color: rgba(34, 42, 66, 0.7);
  background: #ffffff;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, outline-color 0.2s;
}

.p-datatable .p-datatable-thead > tr > th:hover {
  background-color: #f2f5f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.p-datatable .p-datatable-tbody > tr > td {
  font-family: $font-type-base, sans-serif;
  font-size: 14px;
  font-weight: $font-weight-light;
  color: rgba(34, 42, 66, 0.7);
  text-align: left;
  border: 1px solid #e2e8f0;
  border-width: 0 0 1px 0;
  padding: 0.75rem 1rem;
}

.p-datatable .p-sortable-column.p-highlight {
  background: #f1f7fe;
  color: #51b4f6;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #51b4f6;
}

.p-datatable .p-sortable-column.p-highlight:hover {
  background: #f1f7fe;
  color: #51b4f6;
}

.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: #51b4f6;
}

.p-datatable .p-sortable-column:focus-visible {
  box-shadow: 0 none;
  outline: 0 none;
}

.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: #64748b;
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #64748b;
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0.143rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, outline-color 0.2s;
  border-radius: 50%;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #f1f7fe;
  border-color: #f1f7fe;
  color: #44617d;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: #f1f5f9;
  border-color: transparent;
  color: #44617d;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #64748b;
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0.143rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, outline-color 0.2s;
  border-radius: 50%;
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background: #f1f5f9;
  border-color: transparent;
  color: #475569;
}

.p-paginator .p-paginator-first {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.p-paginator .p-paginator-last {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: rgba(34, 42, 66, 0.7);
  margin-left: 0.5rem;
}

.p-icon {
  display: inline-block;
  height: 12px;
}

.p-organizationchart-table {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: $font-weight-bold;
  border-spacing: 0;
  border-collapse: separate;
  margin: 0 auto;
}

.p-organizationchart-table > tbody > tr > td {
  text-align: center;
  vertical-align: top;
  padding: 0 0.75rem;
}

.p-organizationchart-table > tbody {
  height: 12px;
}

.p-organizationchart-node-content {
  display: inline-block;
  position: relative;
}

.p-organizationchart-node-content .p-node-toggler {
  position: absolute;
  bottom: -0.75rem;
  margin-left: -0.75rem;
  z-index: 2;
  left: 50%;
  user-select: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  text-decoration: none;
}

.p-organizationchart-node-content .p-node-toggler .p-node-toggler-icon {
  position: relative;
  top: 0.25rem;
}

.p-organizationchart-line-down {
  margin: 0 auto;
  height: 20px;
  width: 1px;
}

.p-organizationchart-line-right {
  border-radius: 0px;
}

.p-organizationchart-line-left {
  border-radius: 0;
}

.p-organizationchart-selectable-node {
  cursor: pointer;
}

.p-organizationchart
  .p-organizationchart-node-content.p-organizationchart-selectable-node:not(
    .p-highlight
  ):hover {
  background: #f1f5f9;
  color: #1e293b;
}
.p-organizationchart .p-organizationchart-node-content.p-highlight {
  background: #ecfdf5;
  color: #047857;
}
.p-organizationchart
  .p-organizationchart-node-content.p-highlight
  .p-node-toggler
  i {
  color: #79f1b8;
}
.p-organizationchart .p-organizationchart-line-down {
  background: #e2e8f0;
}
.p-organizationchart .p-organizationchart-line-left {
  border-right: 1px solid #e2e8f0;
  border-color: #e2e8f0;
}
.p-organizationchart .p-organizationchart-line-top {
  border-top: 1px solid #e2e8f0;
  border-color: #e2e8f0;
}
.p-organizationchart .p-organizationchart-node-content {
  border: 1px solid #e2e8f0;
  background: #ffffff;
  color: rgba(34, 42, 66, 0.7);
  padding: 0 1.125rem 1.125rem 1.125rem;
  width: 40px;
}
.p-organizationchart .p-organizationchart-node-content .p-node-toggler {
  background: inherit;
  color: inherit;
  border-radius: 50%;
  outline-color: transparent;
}
.p-organizationchart
  .p-organizationchart-node-content
  .p-node-toggler:focus-visible {
  outline: 1px solid var(--p-focus-ring-color);
  outline-offset: 2px;
  box-shadow: none;
}

.p-organizationchart .p-organizationchart-node-content {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}
.p-organizationchart .p-organizationchart-node-content .p-node-toggler {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, outline-color 0.2s;
  border: 1px solid #e2e8f0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.p-organizationchart
  .p-organizationchart-node-content
  .p-node-toggler
  .p-node-toggler-icon {
  position: static;
}
.p-organizationchart .p-organizationchart-node-content:has(.p-node-toggler) {
  padding: 0.75rem 1rem 1.25rem 1rem;
}
.p-organizationchart
  .p-organizationchart-lines
  :nth-child(1 of .p-organizationchart-line-left) {
  border-right: 0 none;
}
.p-organizationchart
  .p-organizationchart-lines
  :nth-last-child(1 of .p-organizationchart-line-left) {
  border-top-right-radius: 6px;
}
.p-organizationchart
  .p-organizationchart-lines
  :nth-child(1 of .p-organizationchart-line-right) {
  border-left: 1px solid #e2e8f0;
  border-top-left-radius: 6px;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: $font-weight-light;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
}

.footer-content p {
  font-size: 0.8rem;
  margin: 0 10px;
  padding: 2px 0;
  color: rgba(34, 42, 66, 0.7);
}
